.fondo1-producto{
	background: #fef67e;
	border-radius: 1em;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.fondo2-producto{
	background: #f1c49d;
	border-radius: 1em;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

h1{
	color:#716bed;
}
h2{
	color:#f9f778;
}
h3{
	color: #bc0fbe;
}
.producto-colores{
	margin-top: 10px;
	width: 700px;
}
.producto-mochilas{
	margin-top: 10px;
	width: 700px;
}
.producto-contacto{
	margin-top: 10px;
	width: 700px;
}
.producto-carrito{
	margin-top: 10px;
	width: 400px;
}