*{
	margin: 0;
	padding: 0;
}
.container-fluid1{
	width: 100%;
	background: #f2f2f2;
	font-family: raliway;
	text-align: center;
}
.col{
	width: 98%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	
}
.col h3{
	color: #00c6ee;
	font-size: 30px;
	text-align: center;
}
.col p{
	padding: 10px 0px;
	text-align: justify;
}
.col a{
	display: inline-block;
	background: #BF0026;
	color: #fff;
	text-decoration: none;
	padding: 12px 20px;
	text-align: center;
}
footer{
	width: 100%;
	font-family: raliway;

}

.container-fluid{
	width: 100%;
	background: #272727;
	color: #fff;

}
.row{
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding: 20px 0px;
	display: flex;
	flex-wrap: wrap;

}
.row h3{
	text-align: center;
}
.row .col input[type="email"]{
	border: none;
	width: 100%;
	border: 1px solid #00c6ee;
	font-size: 10px;
	padding: 10px;
	font-family: raliway;
}
.row .col button[type="submit"]{
	border: none;
	background: #00c6ee;
	color: #fff;
	padding: 10px 30px;
	font-size: 15px;
	margin-top: 10px;
	cursor: pointer;
	font-family: raliway;
}
.logo{
	width: 100px;
	height: 100px; 
	border-radius:50%;
	border: 5px solid #00c6ee;
	float: left;
	
}
.row .footer span p{
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: raliway;
}
.footer-copy-redes{
	width: 100%;
	background: #000;
	border-top: 3px solid #fff;
}
.main-copy-redes{
	width: 98%;
	max-width: 1000px;
	padding: 12px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.main-copy-redes .footer-copy {
	width: 70%;
	color: #fff;
}
.main-copy-redes .footer-redes{
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main-copy-redes .footer-redes a{
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #00c6ee;
	color: #fff;
	text-align: center;
}




